doctype html
html(data-ng-app="tApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='./javascripts/angular/angular.min.js')
    script(src='./javascripts/angular-route/angular-route.min.js')
    script(src='./javascripts/app/app.js')
    script(src='./javascripts/app/controllers/UserListController.js')
    script(src='./javascripts/app/controllers/NewUserController.js')
