extends layout
block content
    h1= title
    br
    a(href="/api/newuser" style="color: #CC0000") Add New User
    br
    br
    hl
    ul
        each user in users
            li
                a(href="#")= user.username
                